@page
@using CupOfSugar.WebSite.Services
@inject JsonFileProductService ProductService
@model CupOfSugar.Pages.Product.LendModel
@{
    ViewData["Title"] = "Lend page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

<body id="lend-page-body">
    <!--The title of the lend/create page-->
    <h1 class="lend-title">Wanna lend food? Go ahead and fill up the details...</h1>
    <div class="container">
        <!-- FORM START -->
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Product.Id)

            <!--input text field for product title with validation-->
            <div class="row form-group">
                <label asp-for="Product.Title" class="col-sm-3 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Title" class="col-sm-6 form-control input-color" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>

            <!--input text field for product quantity with validation-->
            <div class="row form-group">
                <label asp-for="Product.Quantity" class="col-sm-3 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Quantity" class="col-sm-6 form-control input-color" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>

            <!--input text field for product image url with validation-->
            <div class="row form-group">
                <label asp-for="Product.Image" class="col-sm-3 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Image" class="col-sm-6 form-control input-color" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>

            <!--input text field for lender name with validation-->
            <div class="row form-group">
                <label asp-for="Product.Lender" class="col-sm-3 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Lender" class="col-sm-6 form-control input-color" />
                <span asp-validation-for="Product.Lender" class="text-danger"></span>
            </div>

            <!--input text field for lender address with validation-->
            <div class="row form-group">
                <label asp-for="Product.Address" class="col-sm-3 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Address" class="col-sm-6 form-control input-color" />
                <span asp-validation-for="Product.Address" class="text-danger"></span>
            </div>

            <!--input text field for lender phone number with validation-->
            <div class="row form-group">
                <label asp-for="Product.Phone" class="col-sm-3 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Phone" class="col-sm-6 form-control input-color" />
                <span asp-validation-for="Product.Phone" class="text-danger"></span>
            </div>

            <!--drop down menu for food category types-->
            <div class="row form-group">
                <label asp-for="Product.Category" class="col-sm-3 col-form-label control-label lend-form-label"></label>
                <select asp-for="Product.Category" class="form-select col-sm-9 form-control input-color" id="inputGroupSelect02">
                    <option selected></option>
                    <option value="Fruit">Fruit</option>
                    <option value="Vegetable">Vegetable</option>
                    <option value="Poultry">Poultry</option>
                    <option value="Meat">Meat</option>
                    <option value="Dairy">Dairy</option>
                    <option value="Entree">Entre</option>
                    <option value="Savory">Savory</option>
                    <option value="Dessert">Dessert</option>
                    <option value="Drink">Drink</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                </select>
                <span asp-validation-for="Product.Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" name="action" class="btn btn-primary lend-form-label lend-btn" />
            </div>
        </form>
        <!-- FORM END -->
    </div>
</body>