.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 330px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* START Sticky footer styles */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* END Sticky footer styles */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}

.logo-image {
    width: 60px;
    height: 42px;
    overflow: visible;
    margin-top: -1px;
    margin-left: 5px;
    padding-left: 5px;
    float: right;
}

/* START Triangles and their buttons*/
.triangle-parent {
    width: 100%;
}

.triangle {
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom right, #FF6B6B 0%, #FF6B6B 50%, #4ECDC4 50%, #4ECDC4 100%);
    position: relative;
}

.bottom-triangle-button {
    padding: 10px;
    position: absolute;
    background-color: #4ECDC4;
    color: white;
    font-family: 'Fascinate Inline', cursive;
    text-align: left;
}

.top-triangle-button {
    padding: 10px;
    position: absolute;
    background-color: #FF6B6B;
    color: white;
    font-family: 'Fascinate Inline', cursive;
    text-align: right;
}

@media (min-width: 320px) {
    .top-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 400%;
        left: 15%;
        top: 10%;
    }

    .bottom-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 400%;
        right: 15%;
        bottom: 10%;
    }

    .triangle {
        height: 500px;
        margin-top: 60px;
    }
}

@media (min-width: 576px) {
    .top-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 450%;
        left: 15%;
        top: 10%;
    }

    .bottom-triangle-button {
        width: 40%;
        height: 20%;
        font-size: 450%;
        right: 15%;
        bottom: 10%;
    }

    .triangle {
        height: 600px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) {
    .top-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 500%;
        left: 10%;
        top: 10%;
    }

    .bottom-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 500%;
        right: 10%;
        bottom: 10%;
    }

    .triangle {
        height: 600px;
        margin-top: 10px;
    }
}

@media (min-width: 992px) {
    .top-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 550%;
        left: 10%;
        top: 15%;
    }

    .bottom-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 550%;
        right: 10%;
        bottom: 15%;
    }

    .triangle {
        height: 800px;
    }
}

@media (min-width: 1200px) {
    .top-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 600%;
        left: 5%;
        top: 15%;
    }

    .bottom-triangle-button {
        width: 40%;
        height: 30%;
        font-size: 600%;
        right: 5%;
        bottom: 15%;
    }
}

/* END Triangles and their buttons*/

/* CSS for the Lend and borrow buttons to remain white before and after clicking with no underline */
.main-button a:link {
    text-decoration: none !important;
    color: #F7FFF7 !important;
}

.main-button a:visited {
    text-decoration: none !important;
    color: #F7FFF7 !important;
}

.main-button a:hover {
    text-decoration: none !important;
    color: #C4C4C4 !important;
}

/*START Lend Page/Form Styles*/

.lend-title {
    font-family: 'Fascinate', cursive;
    margin: 80px;
    text-align: center;
}

.lend-form-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    color: #4ECDC4;
    font-weight: 700;
    text-align: right;
    align-self: center;
    margin-left: 10%;
}

[data-theme="dark"] .lend-form-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    color: #4AADBC;
    font-weight: 700;
    text-align: right;
    align-self: center;
    margin-left: 10%;
}

.input-color {
    border: 3px solid #4ECDC4;
    height: 50px;
    align-self: center;
}

[data-theme="dark"] .input-color {
    border: 3px solid #4AADBC;
    height: 50px;
    align-self: center;
}

.lend-btn {
    color: #fff;
    border-color: #F6BD60;
    background-color: #F6BD60;
}

[data-theme="dark"] .lend-btn {
    color: #fff;
    border-color: #E87220;
    background-color: #E87220;
}
/*END Lend Page/Form Styles*/
/*Adding spacing between the navbar elements*/
.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

/* Start of Read page styling */
.read-title {
    font-family: 'Fascinate', cursive;
    text-align: center;
}

.product-info-card {
    display: flex;
    flex-direction: row;
}

    .product-info-card img {
        width: 300px;
        height: 300px;
        align-items: flex-start;
    }

.product-info {
    align-items: flex-end;
    padding: 10px;
    margin-left: 30px;
}

.borrows-info-card {
    display: flex;
    flex-direction: column;
}

.borrow-info-card {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    width: 470px;
}

.borrow-info-text {
    text-align: left;
}

[data-theme="dark"] .borrow-info-text {
    text-align: left;
    color: #000000;
}

.borrow-form {
    display: flex;
    flex-direction: row;
}

.read-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-spacing {
    margin-left: 50px;
}

.btn-padding {
    margin: 50px;
}

.btn-green {
    color: #fff;
    background-color: #4ECDC4;
    border-color: #4ECDC4;
}

[data-theme="dark"] .btn-green {
    color: #fff;
    background-color: #4AADBC;
    border-color: #4AADBC;
}

.btn-red {
    color: #fff;
    background-color: #FF6B6B;
    border-color: #FF6B6B;
}

[data-theme="dark"] .btn-red {
    color: #fff;
    background-color: #C52641;
    border-color: #C52641;
}

.btn-thinner {
    height: 40px;
    width: 120px;
}

.btn-monster {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.verticalLine {
    border-left: 1px solid #E5E5E5;
    height: 300px;
    padding-left: 20px;
    margin-left: 10px;
}

.read-page-divider {
    border-color: #c2c2c2;
}

[data-theme="dark"] .read-page-divider {
    border-color: #F7FFF7;
}
/* End of Read page styling */
/* Start of Borrow page styling */
.borrow-title {
    font-family: 'Fascinate', cursive;
    color: #FF6B6B;
    padding: 20px;
    margin-bottom: 20px;
}
/* End of Borrow page styling */

/* Start of About us page styling */
.dev-card {
    display: flex;
    flex-direction: row;
    width: 1100px;
    margin-top: 30px;
    margin-right: 50px;
}

.about-us {
    width: 200px;
}

.dev-card > p {
    text-align: center;
    align-self: center;
    padding: 20px;
}
/* End of About us page styling */

/*Basic styling for the dark mode*/


[data-theme="dark"] {
    background-color: #272822 !important;
    color: #eee;
}

[data-theme="dark"] .navbar-color {
    background-color: #936DCC;
}

[data-theme="dark"] .triangle {
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom right, #C52641 0%, #C52641 50%, #4AADBC 50%, #4AADBC 100%);
    position: relative;
}

[data-theme="dark"] .bottom-triangle-button {
    padding: 10px;
    position: absolute;
    background-color: #4AADBC;
    color: white;
    font-family: 'Fascinate Inline', cursive;
    text-align: left;
}

[data-theme="dark"] .top-triangle-button {
    padding: 10px;
    position: absolute;
    background-color: #C52641;
    color: white;
    font-family: 'Fascinate Inline', cursive;
    text-align: right;
}

[data-theme="dark"] .borrow-title {
    font-family: 'Fascinate', cursive;
    color: #C52641;
    padding: 20px;
    margin-bottom: 20px;
}

[data-theme="dark"] .card-columns .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #1d1c1f;
}

[data-theme="dark"] .cupofsugar-privacy {
    color: white;
    font-weight: 1000;
}

[data-theme="dark"] .google-privacy {
    color: white;
    font-weight: 700;
}

[data-theme="dark"] .bg-light {
    background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
    background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
    background-color: #eee !important;
}


/*These are the styling elements for the _Layout page*/
.navbar-color {
    background-color: #C488E1;
}

.navbar-logo {
    font-family: 'Fascinate', cursive !important;
    color: white !important;
}

.navbar-button {
    font-family: 'Fascinate', cursive;
    color: white !important;
    font-size: 1.25em !important;
}

/*START privacy page styling*/
.cupofsugar-privacy {
    color: black;
    font-weight: 1000;
}

.google-privacy {
    color: black;
    font-weight: 700;
}

/*Styling for Availability filter checkbox in Borrow page*/
#availability-filter {
    padding-left: 35px;
    padding-top: 7px;
}

#availability {
    transform: scale(2);
}

#availability-label {
    padding-left: 10px;
}