@page
@using CupOfSugar.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cup of Sugar</h1>
    <p>This is link to <a asp-page="Index-old">the original page</a>.</p>
</div>



<script src="_framework/blazor.server.js"></script>
