@page
@using CupOfSugar.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cup of Sugar</h1>
</div>



<script src="_framework/blazor.server.js"></script>
