@page
@using CupOfSugar.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--START Fascinate font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
<!--END Fascinate font-->

<div class="text-center">
    <h1 class="display-4">Welcome to Cup of Sugar</h1>
</div>

<!--START Triangles -->
<div class="triangle-parent">
    <div class="triangle">
        <button type="button" onclick="showMessage('Borrow')" class="btn btn-outline-light bottom-triangle-button">Borrow</button>
    </div>
</div>
<!--END Triangles-->

<!--START Script for displaying alert on triangle button clicks-->
<script type="text/javascript">
    function showMessage(buttonType) {
        alert(buttonType + " button clicked!");
    }
</script>
<!--END Script for displaying alert on triangle button clicks-->

<script src="_framework/blazor.server.js"></script>
