@page
@model CupOfSugar.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<!--Title of the page is displayed here-->
<h1>@ViewData["Title"]</h1>
<br />

<!--About Us message-->
<p>
    Hello neighbor!<br />
    We are very excited that you love Cup of Sugar and can spread joy by lending and borrowing food items from your neighbors.
</p>
<!-- Dev team cards -->
<h2>Meet the Cup of Sugar dev team:</h2>
<div class="dev-card">
    <div class="dev-card">
        <img src="~/images/Ana.jfif" class="rounded-circle about-us" />
        <p>Ana Mendes is a MSCS student who is passionate about Computer Graphics and video games.</p>
    </div>
    <div class="dev-card">
        <img src="~/images/Arielle.png" class="rounded-circle about-us" />
        <p>Arielle Wilson is a MSCS student who is passionate about Robotics, Machine Learning, and AI.</p>
    </div>
</div>
<div class="dev-card">
    <div class="dev-card">
        <img src="~/images/Ananya.png" class="rounded-circle about-us" />
        <p>Ananya Reddy is a MSCS student who is passionate about Data Science and is a C++ goddess.</p>
    </div>
    <div class="dev-card">
        <img src="~/images/Phuc.jfif" class="rounded-circle about-us" />
        <p>Phuc To is a MSCS student who is passionate about life and the master of ASP.NET development.</p>
    </div>
</div>