@page
@model CupOfSugar.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<!--Title of the page is displayed here-->
<h1>@ViewData["Title"]</h1>

<!--About Us message-->
<p>Hello! This is the Cup of Sugar team:</p>
<div class="dev-card">
    <div class="dev-card">
        <img src="https://ca.slack-edge.com/TNL2S7N4V-U02SBUET03V-cf4429c21616-512" class="rounded-circle about-us" />
        <p>Some Some info about Ana Some info about Ana Some info about Ana Some info about Ana info about Ana </p>
    </div>
    <div class="dev-card">
        <img src="https://ca.slack-edge.com/TNL2S7N4V-U02SBUET03V-cf4429c21616-512" class="rounded-circle about-us" />
        <p>Some Some info about Ana Some info about Ana Some info about Ana Some info about Ana info about Ana </p>
    </div>
</div>
<div class="dev-card">
    <div class="dev-card">
        <img src="https://ca.slack-edge.com/TNL2S7N4V-U02SBUET03V-cf4429c21616-512" class="rounded-circle about-us" />
        <p>Some Some info about Ana Some info about Ana Some info about Ana Some info about Ana info about Ana </p>
    </div>
    <div class="dev-card">
        <img src="https://ca.slack-edge.com/TNL2S7N4V-U02SBUET03V-cf4429c21616-512" class="rounded-circle about-us" />
        <p>Some Some info about Ana Some info about Ana Some info about Ana Some info about Ana info about Ana </p>
    </div>
</div>