@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<center>
    <img src="https://user-images.githubusercontent.com/64483865/168930626-6cc96ea6-f77f-4181-8827-169cafed6a76.jpg" />
    <br />
    <br />
    <!-- Start Back Button to revert back using the user history-->
    <form>
        <input type="button" value="Go back!" onclick="history.back()">
    </form>
    <br />
    <!-- End Back Button -->
</center>