@page
@using CupOfSugar.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--START Fascinate font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
<!--END Fascinate font-->


<!--START Triangles -->
<div class="triangle-parent">
    <div class="triangle">
        <button type="button" class="btn bottom-triangle-button"><a asp-page="Index-old">Borrow</a></button>
        <button type="button" class="btn top-triangle-button"><a asp-page="/Lend">Lend</a></button>
    </div>
</div>
<!--END Triangles-->

<script src="_framework/blazor.server.js"></script>
