@page
@using CupOfSugar.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--START Fascinate font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
<!--END Fascinate font-->


<!-- Start of Borrow - Lend button section -->
<div class="triangle-parent">
    <div class="triangle">
        <button type="button" class="btn bottom-triangle-button"><a asp-page="/Product/Borrow">Borrow</a></button>
        <button type="button" class="btn top-triangle-button"><a asp-page="/Product/Lend">Lend</a></button>
    </div>
</div>
<!-- End of Borrow - Lend button section -->

<script src="_framework/blazor.server.js"></script>
