@page
@using CupOfSugar.WebSite.Services
@inject JsonFileProductService ProductService
@model CupOfSugar.Pages.LendModel
@{
    ViewData["Title"] = "Lend page";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<body id="lend-page-body">
    <h1 class="lend-title">Wanna lend food? Go ahead and fill up the details...</h1>
    <div class="container">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Product.Id)

            <div class="row form-group">
                <label asp-for="Product.Title" class="col-sm-2 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Title" class="col-sm-10 form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <label asp-for="Product.Description" class="col-sm-2 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Description" class="col-sm-10 form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <label asp-for="Product.Url" class="col-sm-2 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Url" class="col-sm-10 form-control" />
                <span asp-validation-for="Product.Url" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <label asp-for="Product.Image" class="col-sm-2 col-form-label control-label lend-form-label"></label>
                <input asp-for="Product.Image" class="col-sm-10 form-control" />
                <span asp-validation-for="Product.Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>

<script src="_framework/blazor.server.js"></script>s
