@page
@using CupOfSugar.WebSite.Services
@inject JsonFileProductService ProductService
@model CupOfSugar.Pages.LendModel
@{
    ViewData["Title"] = "Lend page";
}

<h1>Lend form coming soon!</h1>

<script src="_framework/blazor.server.js"></script>s