@page
@model PrivacyModel
@{
    ViewData["Title"] = "Cup Of Sugar Privacy Policy";
}

<!--Title of the page is displayed here-->
<h1>@ViewData["Title"]</h1>

<!--Updated Privacy policies of Cup of Sugar-->
<p>
    This Privacy Policy describes how your personal information is collected, used, and shared when you visit, lend or borrow items from
    <a asp-page="/Product/Index" style="color: black; font-weight:1000;">Cup of Sugar</a>.

    <br />
    <br />
    <h5>WHAT PERSONAL INFORMATION WE COLLECT</h5>

    When you visit the Site, we automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.

    <br />
    <br />
    Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically collected information as Device Information.

    <br />
    <br />
    <h5>SHARING YOUR PERSONAL INFORMATION</h5>
    
    We use Google Analytics to help us understand how our customers use Cup of Sugar.
    <a href="https://policies.google.com/privacy?hl=en" style="color: black; font-weight: 700;">How Google uses your Personal Information</a>.

    <br />
    <br />
    We may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, search warrant or other lawful requests for information we receive, or to otherwise protect our rights.

    <br />
    <br />
    <h5>YOUR RIGHTS</h5>

    If you are a European resident, you have the right to access the personal information we hold about you and to ask that your personal information is corrected, updated, or deleted. If you would like to exercise this right, please contact us.

    <br />
    <br />
    <h5>CHANGES</h5>
   
    We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.

</p>

