@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!--Title of the page is displayed here-->
<h1>@ViewData["Title"]</h1>

<!--Privacy policies of Cup of Sugar soon to be updated-->
<p>Use this page to detail your site's privacy policy.</p>