<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>

	<system.webServer>
		<!--<handlers>
      -->
		<!--<add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=6.1.12.823, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode" />-->
		<!--
    </handlers>-->
		<!--<validation validateIntegratedModeConfiguration="false" />-->

		<httpErrors errorMode="Custom" existingResponse="Replace">
			<remove statusCode="404"/>
			<remove statusCode="500"/>
			<remove statusCode="503"/>
			<error statusCode="404" path="/Error" responseMode="Redirect" />
			<error statusCode="500" path="/Error" responseMode="Redirect"/>
			<error statusCode="503" path="/Error" responseMode="Redirect"/>
		</httpErrors>
	</system.webServer>
</configuration>
